/* ========================  RESET ======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

html,
body {
  overflow-x: hidden;
}
/* ========================  VARIABLES ======================== */
:root {
  --header-height: 3rem;
  /* colors */
  --hue: 600;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(var(--hue) 0 0% 46%);
  --text-color-light: hsl(var(--hue) 0% 98%);
  --body-color: hsl(var(--hue) 0% 98%);
  --scroll-bar-color: hsl(var(--hue) 12% 90%);
  --scroll-thumb-color: hsl(var(--hue) 12% 80%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== Font and typography ==========*/

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Dark theme Button */
.nav-btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
  transition: all .2s;
}

.change-theme:hover {
  color: var(--base-color);
  transition: all .2s;
}

/* Variables Dark theme */
body.dark-theme {
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 18%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 90%);
  --text-color: hsl(var(--hue) 0% 56%);
  --text-color-light: hsl(var(--hue) 0% 98%);
  --body-color: hsl(var(--hue) 0% 08%);
  --scroll-bar-color: hsl(var(--hue) 12% 48%);
  --scroll-thumb-color: hsl(var(--hue) 12% 36%);
}

/* ========================  BASE ======================== */

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  transition: 0.5s;
}

.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--base-color-alt);
  transition: 0.3s ease-in-out;
}
.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1) 0%,
    hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/* ========================  LAYOUT ======================== */
.header {
  height: 2.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

#header.scroll {
  box-shadow: 0px 0 12px 0 rgba(0, 0, 0, 0.15);
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container-two {
  max-width: 60.5rem;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid-two {
  display: grid;
  gap: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(.5rem + var(--header--height)) 0;
}

.section .tittle {
  margin-bottom: 1rem;
}

.section .subtitle {
  font-size: var(--subtitle-font-size);
  text-indent: 1.875rem;
}
/* ========================  LOGO ======================== */

.logo {
  font: 700 1.96875rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

/* ========================  NAVIGATION ======================== */

.nav {
  max-width: 60.5rem;
  height: var(--header--height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0.4rem 1rem 0 1rem;
}

.nav-logo span {
  color: var(--base-color);
}

.nav-logo,
.nav-toggle {
  transition: all 0.2s;
  color: var(--title-color);
  font: 400 1rem var(--title-font);
}

.nav-logo:hover {
  transition: all 0.2s;
  color: var(--base-color);
}

.nav-toggle {
  transition: all 0.2s;
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-toggle:hover {
  transition: all 0.2s;
  color: var(--base-color);
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: 'Poppins', sans-serif;
  font-weight: var(--font-medium);
  transition: all 0.2s;
}

.nav-link:hover {
  color: var(--base-color);
  transition: color 0.2s;
}

.nav-icon {
  font-size: 1.2rem;
}

.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.5s;
}

.nav-close:hover {
  color: var(--base-color-alt);
  transition: all 0.2s;
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  width: 100%;
  color: var(--base-color);
  font-weight: bold;
  transition: 0.2s;
}

/* Change background active header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/* ========================  HOME ======================== */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  left: 16.7%;
  top: -16.8%;
}

#home .image .img {
  border-radius: 0.25rem;
  max-width: 100%;
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
  text-align: center;
}

#home .text p {
  margin-bottom: 2rem;
  text-align: center;
}

/* ======================= ABOUT =========== */

#about .container {
  margin: 0;
}

#about .image {
  position: relative;
}

#about .image::before {
  content: "";
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  left: -8.3%;
  top: -15%;
  z-index: 0;
}

#about .image video {
  max-width: 100%;
  position: relative;
}

#about .image video,
#about .image::before {
  border-radius: 0.25rem;
}

#about .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* ======================== SERVICES ======================== */
.cards.grid {
  gap: 1.5rem;
}

.cards {
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
}

.cards i {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 5rem;
  color: var(--base-color);
}

.cards .tittle {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: 0.75rem;
}

/* ======================== TESTIMONIALS ======================== */

#testimonials .container {
  margin-left: 0;
  margin-right: 0;
}

#testimonials header {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}

#testimonials blockquote {
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

#testimonials blockquote p {
  position: relative;
  text-indent: 1.875rem;
  margin-bottom: 1.5rem;
  color: var(--title-color);
}

#testimonials blockquote p span {
  font: 700 3rem serif;

  position: absolute;
  top: -0.5rem;
  left: -1.875rem;
  color: var(--base-color);
}

#testimonials cite {
  display: flex;
  align-items: center;
  font-style: normal;
}

#testimonials img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  clip-path: circle();
  margin-right: 0.5rem;
}

/* Swiper */
.swiper-slide {
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination {
  position: inherit;
}

.swiper-pagination-bullet-active {
  background: var(--base-color);
}

.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
}

/* ======================== CONTACT ======================== */
#contact .grid {
  margin-bottom: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
}

#contact ul li i {
  color: var(--base-color);
}

/* ======================== FOOTER ======================== */
footer {
  background-color: var(--base-color);
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social a {
  margin-right: 2rem;
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

/* ======================== Back to top ======================== */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--base-color);
  opacity: .8;
  padding: 0 .3rem;
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
}

.scrollup:hover {
  background-color: var(--base-color-alt);
}

.scrollup-icon {
  font-size: 1.5rem;
  color: #FFF;
}

/* Show back to top button */
.show-scroll {
  bottom: 5rem;
}

/* ======================== SCROLL BAR ======================== */
::-webkit-scrollbar {
  width: .60rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--base-color-second);
}


/* Responsivo */
/* ------------------ MEDIA QUERIES ------------------*/
/* large devices: 1200 > */
@media screen and (min-width: 1200px) {
  /* classes reutilizáveis */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .section header,
  #testimonials header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }

  /*layout*/
  main {
    margin-top: var(--header--height);
  }

  /* home */

  #home .container {
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image {
    order: 1;
  }

  #home .text {
    order: 0;
    max-width: 25rem;
    text-align: left;
  }

  #home .text p {
    text-align: left;
  }

  /* about */
  #about .container {
    margin: 0 auto;
    grid-auto-flow: column;
  }

  #about .container .image::before {
    margin: 1.8rem 0 0 0;
    max-height: 65%;
  }

  /* services */
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cards {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  /* testimonials */
  #testimonials .container {
    margin-left: auto;
    margin-right: auto;
  }

  /* contact */
  #contact .container {
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text {
    max-width: 25rem;
  }

  /* footer */
  footer.section {
    padding: 3.75rem 0;
  }

  footer .container {
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  footer .logo {
    font-size: 2.25rem;
  }
}

/* small devices */
@media screen and (min-width: 320px) {
  #home .image {
    max-width: 80%;
  }

  #home .image video {
    margin: 2rem 0 0 5rem;
  }

  #home .image:before {
    max-width: 85%;
    top: .6rem;
    margin: 0 0 0 2.5rem;
  }

  #home {
    margin: 0 0 1.5rem 0;
  }

  #about {
    margin: 1rem 1rem 1rem 1rem;
  }

  #about .image {
    max-width: 85%;
    margin: 3rem 0 0 1.5rem;
  }

  #about .grid {
    gap: 0;
  }

  #services {
    margin: 1.5rem 1rem 2rem 0;
  }

  #testimonials {
    margin: 1rem 1rem 1rem 1rem;
  }

  #contact {
    margin: 1rem 1rem 1rem 1rem;
  }
}

@media screen and (min-width: 350px) {
  .nav-menu {
    padding: 2rem .25rem 4rem;
  }

  .nav-list {
    column-gap: 0;
  }

  #home {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  #home .grid {
    gap: 0;
  }

  #home .text {
    margin: 2rem 0 0 0;
  }

  #about {
    margin: 3.5rem 1.5rem 2.5rem 1.5rem;
  }

  #about .grid {
    gap: 0;
  }

  #about .image {
    max-width: 85%;
    margin: 0 0 0 1rem;
  }

  #services {
    margin: 1.5rem 0 1.5rem 0;
  }

  #services .subtitle {
    margin: 1rem 0 0 0;
  }

  #testimonials {
    margin: 1.5rem 0 1.5rem 0;
  }

  #contact {
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  #home .image video {
    margin-top: 1.5rem;
  }

  #home .image::before {
    max-width: 68%;
  }
}

/* medium devices */
@media screen and (min-width: 568px) {
  #home .container {
    margin-top: 1.5rem;
  }

  #home .image img {
    padding-left: 5rem;
    display: flex;
  }

  #home .image:before {
    display: flex;
    padding-left: 5rem;
  }

  #about {
    margin-top: 1.5rem;
  }

  #contact {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  #baseboard .brand {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  #baseboard .social {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

@media screen and (min-width: 768px) {
  #home .container {
    margin-top: 8rem;
    margin-bottom: 2rem;
  }
  
  #home .image img {
    max-width: 75%;
    margin-left: 4rem;
  }

  #home .image:before {
    max-width: 60%;
  }

  #about {
    padding-top: 3rem;
  }

  .header {
    height: 4.0625rem;
    top: 0;
    bottom: initial;
    margin: 0;
  }

  .header,
  main,
  .footer-container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
    column-gap: 1rem;
  }

  .nav-icon,
  .nav-close,
  .nav-toggle {
    display: none;
  }

  .nav-logo {
    margin-bottom: .5rem;
  }

  .nav-list {
    display: flex;
    column-gap: 2rem;
    margin-top: 1.5rem;
  }

  .nav-menu {
    margin-left: auto;
  }

  .change-theme {
    margin-bottom: .5rem;
  }

  #about {
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
  }

  #services .container {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  #testimonials {
    padding-top: 3rem;
  }

  #testimonials .swiper-pagination {
    position: inherit;
    margin-top: -3rem;
    margin-bottom: 2rem;
  }

  #contact {
    margin-top: 3rem;
  }
}

/* large devices */
@media screen and (min-width: 1024px) {
  #services header {
    text-align: center;
  }
  
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header {
    height: 4.0625rem;
  }

  .cards {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #home .image .img {
    max-width: 80%;
  }
}